{% extends "base.html" %}

{% block link %}

<link rel="stylesheet" href="/static/css/style.css">

{% endblock %}

{% block code %}


<link rel="stylesheet" href="/static/css/style.css">

<div class="hero">
    <div class="hero-content">
        <h1>Find Your Dream Wedding Dress 💍</h1>

        <p class="quote">
            "Wear your dream, not the price tag."
        </p>

        <p class="sub-text">
            Discover premium wedding dresses at affordable rental prices.
        </p>

        <a href="{% url "products" %}" class="btn-custom">
            Get Started →
        </a>
    </div>
</div>


{% endblock %}

