{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block code %}

<div class="form-container">
    <form method="POST" class="form-box">
        {% csrf_token %}

        <h2>Set New Password</h2>

        <input type="password" name="new_password1" placeholder="New Password" required>
        <input type="password" name="new_password2" placeholder="Confirm Password" required>

        <button type="submit">Change Password</button>
    </form>
</div>

{% endblock %}